:root {
    --col: white;
}

#bubble {
    position: absolute;
    width: 150px;
    height: 109px;
    top: 30px; left: 30px;
    /*background-color :blue; */
    transition: opacity .5s linear, x 0s ease, y 0s ease;
    filter: drop-shadow(0px 0px 10px black);
    pointer-events: none;
}

#bubble polyline,
#bubble line,
#bubble path {
    fill: var(--col);
    stroke: grey;
    stroke-width: 2;
    transition: 1s;
}

