:root {
    --col: white;
}

#bubble {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 30px; left: 30px;
    /*background-color :blue; */
    transition: opacity .5s linear, x 0s ease, y 0s ease;
    pointer-events: none;
    -webkit-appearance: none;
    filter: drop-shadow(0px 0px 10px black);
    border-radius: 1vw;

}

#bubble polyline,
#bubble line,
#bubble path {
    fill: var(--col);
    stroke: grey;
    stroke-width: 2;
    transition: 1s;
}

#circlesL, #circlesR{
    opacity: 0;
    stroke: grey;
}

.speechR, .speechL{
    x : 50%;
    stroke: blue;
    margin-left: 50%;
    position: relative;

}
