/*@import "compass/css3";*/

.App {
    touch-action: none;
}

#feedbackBar{
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: white;
    text-align: center;
    z-index: 1;
    opacity : 0;
    /*color: black;*/
}

#controlPanel{
    position: absolute;
    width: 35%;
    min-width: 400px;
    height: 110%;
    top: -2px;
    background-color: white;
    text-align: center;
    z-index: 2;
    filter: drop-shadow(15px 0px 10px grey);
    color: black;
}

#controlPanelBackground{
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: 1;
    top: -2px;
    opacity : 0;
}

#controlPanelRow{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 100%;
}

/*#svg {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    animation: rotation 4.5s infinite linear;*/
/*    pointer-events: none;*/
/*    transition: top 2s, left 2s;*/
/*    transition-timing-function: ease-out;*/
/*    z-index: 1;*/
/*    background-color: white;*/
/*    border: 5px solid black;*/
/*    opacity: 0*/
/*}*/

/*body {*/
/*    background-color:orange;*/
/*    display:flex;*/
/*    flex-flow:row wrap;*/
/*    justify-content:center;*/
/*    margin:0;*/
/*    height:100vh;*/
/*    align-items:center;*/
/*    align-content:center;*/
/*    padding:0 8rem;*/
/*}*/

.thought {
    /*display:flex;*/
    --background-col: red;
    background-color: var(--background-col);
    padding:20px;
    border-radius:30px;
    min-width:40px;
    max-width:220px;
    min-height:40px;
    margin:20px;
    position:absolute;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index : 1;
    top: 0;
    left: 0;
    opacity: 0;
}
.thought:before,
.thought:after {
    content:"";
    background-color: var(--background-col);
    border-radius:50%;
    display:block;
    position:absolute;
    z-index:-1;
}
.thought:before {
    width:44px;
    height:44px;
    top:-12px;
    left:28px;
    box-shadow:-50px 30px 0 -12px var(--background-col);
}
.thought:after {
    bottom:-10px;
    right:26px;
    width:30px;
    height:30px;
    box-shadow:40px -34px 0 0 var(--background-col),
    -28px -6px 0 -2px var(--background-col),
    -24px 17px 0 -6px var(--background-col),
    -5px 25px 0 -10px var(--background-col);

}

.burst {
    --background-col: green;
    background:var(--background-col);
    width:100px;
    height:100px;
    line-height:100px;
    font-size:3em;
    color:Chartreuse;
    /*position:relative;*/
    position: absolute;
    text-align:center;
    border-radius:11px;
    z-index : 1;
    opacity: 0
}

.burst::before, .burst::after {
    content:"";
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:inherit;
    border-radius:inherit;
    transform:rotate(28deg);
}

.burst::after {
    transform:rotate(-31deg);
}

/*.svg-1:hover path {*/
/*    d: path("M1.00554 18.5C1.00554 18.5 0.00194168 1 25.0016 1C52.0016 0.999999 58.0019 1 58.0019 1C58.0019 1 73.1962 1 83.1981 1C93.2001 1 79.5 1 104.002 1C135.5 1 138.502 2.8184 138.502 25.5C138.502 43.3184 138.502 60 138.502 60C138.502 60 138.698 75.5 111.698 75.5C107.2 81 97.6981 94.6816 97.6981 94.6816C97.6981 94.6816 84.5019 75.5 83.1981 75.5C81.9865 75.5 21.6997 75.5 21.6997 75.5C21.6997 75.5 1.0046 74.5 1.00554 60C1.00607 52 1.00554 18.5 1.00554 18.5Z")*/
/*}*/

/*svg {*/
/*    position: absolute;*/
/*    width: 20%;*/
/*    height: 20%;*/
/*    top: 0%; left: 0%;*/
/*    transition: 1s;*/
/*}*/
/*.svg-1:hover{*/

/*}*/
/*svg polyline,*/
/*svg line,*/
/*svg path {*/
/*    fill: white;*/
/*    stroke: grey;*/
/*    stroke-width: 7;*/

/*    !*stroke: #000;*!*/
/*    !*stroke-linecap: round;*!*/
/*    !*stroke-linejoin: round;*!*/
/*    transition: 1s;*/
/*    filter: drop-shadow(0px 0px 10px black);*/

/*}*/
:root {
    --col: black;
    --outline: black;
}

.cloud-svg:hover path {
    d: path(" M 100, 100 m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0 ")
}

/*#cloud, #circle {*/
/*    background-color: var(--col);*/
/*    animation: move 8s ease infinite;*/
/*    border-radius : 50%;*/
/*    position: absolute;*/
/*    top: 50%; left: 50%;*/
/*    margin-top: -30px;*/
/*    z-index: 1;*/
/*    margin-left: -30px;*/
/*    height: 60px; width: 60px;*/
/*    transition: clip-path 0.2s;*/
/*}*/
#cloud:hover {
    clip-path: circle(25% at 50% 50%);
}

@keyframes move{
    50% { transform: translateY(-15px); }
}

#cloud{
    box-shadow:
            var(--col) 55px -15px 0 -3px, /*top right*/
            var(--col) 20px -22px 0 -1px, /*top left*/
            var(--col)  30px 16px, /*bottom left*/
            var(--col) 60px 20px 0 -6px, /*bottom right*/
            var(--col) 75px 0px 0 -6px, /*right*/

            var(--col) 68px 62px 0 -22px, /*circle*/
            var(--col) 82px 77px 0 -27px, /*small circle*/


            var(--outline) 55px -15px 0 2px, /*top right*/
            var(--outline) 20px -22px 0 3px, /*top left*/
            var(--outline)  30px 16px 0 4px, /*bottom left*/
            var(--outline) 60px 20px 0 -2px, /*bottom right*/
            var(--outline) 75px 0px 0 -2px, /*right*/
            var(--outline) 0px 0px 0 4px, /*right*/

            var(--outline) 68px 62px 0 -19px, /*circle*/
            var(--outline) 82px 77px 0 -24px; /*small circle*/
    /*filter: drop-shadow(0px 15px 20px black);*/
}

/*#circle{*/
/*    box-shadow:*/
/*            var(--outline) 0px 0px 0 4px; !*right*!*/
/*    filter: drop-shadow(0px 8px 8px black);*/

/*}*/

text {
    font-size: 22px;
    opacity :0;
    display: inline-block;
    position: relative;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    text-anchor: middle
}




