.bubble {
    position: absolute;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 100px;
    background: white;
    z-index: 2;
    border-radius: 20px;
    padding: 24px;
    text-align: center;
    color: #000;
    top: 50%; left: 50%;
    box-shadow:
            grey 0px 0px 0 4px;
}

.bubble-bottom:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid transparent;
    border-top: 20px solid white;
    border-bottom: 0;
    left: 32px;
    bottom: -16px;
}

.bubble-outline-bottom {
    position: absolute;
    top: 50%; left: 50%;
    z-index: 2;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid transparent;
    border-top: 20px solid grey;
    border-bottom: 0;
    left: 32px;
    bottom: -22px;
}
