body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper {
  position: relative;
}

.wrapper canvas {
  position: absolute;
}

.introPage {
  position: absolute;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  padding-top: 20%;
  background-color: white;
  z-index: 5;
  font-size: 25px;
  animation: move 6s ease infinite;
}

@keyframes move{
  50% { transform: translateY(-30px); }
}
